:root {
    --navbar-width: 28vw;
    --pad-space: 8px;
}

.header {
    background-color: rgb(253, 101, 45);
    color: aliceblue;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header > h2 {
    padding: 0.3rem;
}

.header > div > span {
    margin: 0 0.2rem;
}

.navbar {
    position: absolute;
    background-color: rgb(12, 155, 76);
    color: aliceblue;
    width: var(--navbar-width);
    height: 1110px;
}

.content {
    margin-left: calc(var(--navbar-width) + var(--pad-space));
    margin-top: var(--pad-space);
    margin-right: var(--pad-space);
}