html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Forziamo sia html che body a occupare tutta l'altezza dello schermo */
}

body {
    background: #020024;
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-attachment: fixed; /* Mantiene il gradiente fisso anche se la pagina scorre */
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: honeydew;
    text-shadow: 3px;
    text-shadow: 2px 2px 5px rgb(2, 0, 117);
}

div {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
    color:aquamarine;
    text-shadow: 2px 2px 5px rgb(2, 0, 117); 
}

.top {
  width: 100%;
  height: 293px; /* Imposta l'altezza pari a quella della tua GIF */
  
  background-image: url('https://cdn.pixabay.com/animation/2025/01/17/18/27/18-27-39-591_512.gif') ;
  background-repeat: repeat-x; /* Ripete la GIF SOLO in orizzontale (sull'asse X) */
  background-size: contain;    /* Fa in modo che la GIF mantenga le sue proporzioni nell'altezza del div */
}
